/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Root Variable */
:root {
    --color-primary: #219F95;
    --color-secondary: #AFCEDD;
    --color-white: #FFFFFF;
    --color-headings: #1E1E1E;
    --color-primary-headings: #234894;
    --color-links: #696969;
}

html{
    font-size: 62.5%;
}


/* Button */
.btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    outline: 0;
    cursor: pointer;
    padding: 2rem 2.5rem;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}


/* Badge */
.badge {
    display: inline-block;
    padding: 1.3rem;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--color-secondary);
    color: var(--color-primary-headings);
    text-align: center;
    white-space: nowrap;
    font-size: 1.6rem;
}


/* Section */
.block_plan{
    display: grid;
    /* gap: 2rem 3rem; */
    margin: 2rem 3rem;
}

.plan {
    /* border: 1px solid blue; */
    text-align: center;
}

.plan__name {
    color: var(--color-primary-headings);
    text-align: center;
}

.plan__introduction {
    display: grid;
    padding-right: 2rem;
}

.plan__introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.plan__image {
    width: 40px;
    height: 40px;
}

.plan__heading {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.plan__link {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    color: var(--color-links);
}

.card__header,
.card__body {
    padding: 3rem 2.5rem;
}

.card__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem 2rem;
}

.plan__title {
    padding-left: 3rem;
}

.plan__text {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-headings);
}

@media screen and (min-width: 728px) {
    .block_plan {
        display: grid;
        overflow-y: hidden;
        justify-content: center;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .block_plan {
        display: grid;
        /* gap:0.5rem 0.5rem; */
        overflow-y: hidden;
        justify-content: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        margin-top: 5rem;
    }
    .card__body {
        display: flex;
        justify-content: space-between;
    }
}